@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.post-body a {
  color: #00b7ff;
}

.post-body code {
  background-color: #555;
  color: white;
  padding: 0 6px;
  border-radius: 4px;
}
